<div>
	<div>
		Recherche de phrases
	</div>
		
	<input type="text" ng-model="search"/>
	<span class="glyphicon glyphicon-search"></span>
	
	<table  class="table">
		<thead>
			<tr>
				<th>Phrase</th>
				<th>Edition phrase</th>
				<th>Réponse</th>
				<th>Edition réponse</th>
				<th>
					<select id="filter" ng-model="searchFilter">
						<option value="word">Phrase</option>
						<option value="response">Réponse</option>
					</select>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="searchFilter"></tr>
			<tr ng-repeat="p in sentences | orderBy: searchFilter: false | filter: search as result" >
				<td>{{p.word}}</td>
				<td><input ng-model="p.word"/></td>
				<td>{{p.response}}</td>
				<td><input ng-model="p.response"/></td>
				<td><button  ng-click = "sendClick(p)" class="btn btn-danger">Supprimer</button></td>
			</tr>
			<tr ng-if="result.length == 0">
				<td colspan="4">Aucun résultat trouvé</td>
			</tr>
		</tbody>
	</table>

	<div>
		<label>Ta phrase<input type="text" ng-model="newWord"/></label>
		<label>Ta réponse<input type="text" ng-model="newResponse"/></label>
		<button class="btn btn-primary" ng-disabled ="!(!!newWord && !!newResponse)" ng-click="addSentence()">Ajouter</button>
	</div>
</div>